<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Eucludus</title>
  <link rel='stylesheet' href='/stylesheets/m_menu.css' />
  <link rel='stylesheet' href='/stylesheets/m_menu.css' />
  <link rel='stylesheet' href='/stylesheets/main_part.css' />
</head>
<body style="margin: 0 0; background-color: #252525">

<div class="news">
  <nav>
    <ul>
      <li><a href=""> <img src="/images/Eclds_white.png"></a></li>
      <li><a class="pos" href="/courses">йспяш</a></li>
      <li><a class="pos" href="/articles">ярюрэх</a></li>
      <li><a class="pos" href="/tests">tests</a></li>
    </ul>
    <ul style="display: inline;">
      <li style="float: right;"><a class="pos" href="/login.html">бНИРХ</a></li>
    </ul>
  </nav>
  <div class="present">

    <a href=""><img src="/images/eclds_present.png" style=" width: 50%; margin: 65px 0 0 25%"></a>

    <p style="text-align: center;" ><a href="/courses/space"
                                       style="color: white; text-decoration: none; font-weight: normal">йнялхвеяйюъ
        цнмйю</a></p>

  </div>
</div>
<div class="right-news-block">
</div>
<ul>
  <li>
    <div class="new_art" style="border-top: none">
      <a></a>
    </div>
  </li>
  <li>
    <div class="new_art">
      <a></a>
    </div>
  </li>
  <li>
    <div class="new_art" style="border-bottom: none">
      <a></a>
    </div>
  </li>
</ul>
<div class="last_container">

</div>
</body>
<footer>
  <p>eucludus.tk 2015</p>
</footer>
</html>