.new_art
{
    background-color: #999999;
    width: 75%;
    height: 260px;
    border: 1px solid #707070;
    border-left: none;
    border-right: none;
}

ul
{
    list-style:none;
    margin: 0 0;
    padding: 0 0;
}

.right-news-block
{
    background-color:#707070 ;
    width: 25%;
    height: 782px;
    border: 1px solid #707070;
    border-left: none;
    border-right: none;
    display: inline;
    float: right;
}

.last_container
{
    background-color: white;
    height: 260px;
}